@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');


.divContainer{
    position: absolute;
    margin-top: -25px;
    top: 550%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 60vw;
    height: 80vh;
    font-family: 'Schoolbell', cursive;
    background-color: #6fddf1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: .3s;
    &:hover{
        background-color: #2da4b9;
        transition: .3s;
        cursor: pointer;
    }
}

.divDetails{
    padding-right: 30px;
    padding-left: 20px;
    margin-left: 60px;
}

.divDetails h1{
   font-size: 50px;
}
.divDetails h3{
   font-size: 25px;
}

.divImg{
    margin: -20px -20px -20px 40px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.571);
}

.divImg img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* border: 4px solid black; */
}

.close{
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    width: 60px;
    height: 40px;
    margin: 0 -30px 0 -10px;
    font-weight: 700;
    color: black;
    background-color: #5bee5d;
    border-radius: 30%;
    cursor: pointer;
    transition: .2s;
    &:hover{
        color: white;
        background-color: red;
        transition: .3s;
    }
}