/* El Div que contiene el input y el boton */
.divBar{
  margin: 0;
  padding-right: 20px;
  display: flex;
  justify-content: right;
}

/* El input */

.inputBar{
  width: 15%;
  height: 35px;
  background-color: #EFE4C6;
  border-radius: 10px;
  margin-right: 5px;
  box-shadow: 5px 4px 4px black;
}

.inputBar:hover{
  opacity: 0.8;
}

/* El boton */

.buttonBar{
  border-radius: 10px;
  background-color: orange;
  color: black;
  font-weight: bold;
  box-shadow: 5px 2.5px 2.5px black;
  cursor: pointer;
  transition: .3s;
}

.buttonBar:hover{
  background-color: black;
  color: white;
  transition: .3s;
}