/* El Div que contiene el input y el boton */
.divBar{
  margin: 0;
  padding-right: 20px;
  display: flex;
  justify-content: right;
}

/* El input */

.inputBar{
  margin-left: 600px;
  margin-right: 15px;
  width: 20vw;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  /* box-shadow: 5px 4px 4px black; */
}

.inputBar:hover{
  
}

/* El boton */

.buttonBar{
  font-family: 'Schoolbell', cursive;
  font-size: 20px;
  /* margin-left: 170px; */
  width: 90px;
  height: 40px;
  border-radius: 10px;
  background-color: orange;
  color: black;
  font-weight: bold;
  box-shadow: 5px 2.5px 2.5px black;
  cursor: pointer;
  transition: .3s; 
}

.buttonBar:hover{
  background-color: black;
  color: white;
  box-shadow: none;
  transition: .3s;
}