@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

.navContainer{
    margin: 0;
    padding: 15px 15px 20px 15px;
    background-color: #6fddf100;
    height: 5vh;
    display: flex;
    flex-direction: row;
    /* border: 1px solid #5bee5d; */
    border-left: none;
    border-top: none;
    border-right: none;
}

.navButtons {
    position: relative;
    left: 0;
    bottom: 0;
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    margin: 0 20px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #5bee5d;
    color: black;
    font-weight: bold;
    box-shadow: -3px 3px #2b882ccd;
    cursor: pointer;
    transition: .2s;
}

.navButtons:hover{
    background-color: #6fddf1;
    left: -2px;
    bottom: -2px;
    color: black;
    box-shadow: none;
    transition: .3s;
 }

.buttonAbout{
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    margin-left: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #5bee5d;
    color: black;
    font-weight: bold;
    box-shadow: -3px 3px #2b882ccd;
    cursor: pointer;
    transition: .2s; 
}

.buttonAbout:hover{
    left: -2px;
    bottom: -2px;
    background-color: #6fddf1;
    color: black;
    box-shadow: none;
    transition: .3s;
    
 }

 .logoutButton{
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    margin-left: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #5bee5d;
    color: black;
    font-weight: bold;
    box-shadow: -3px 3px #2b882ccd;
    cursor: pointer;
    transition: .2s; 
 }

 .logoutButton:hover{
    left: -2px;
    bottom: -2px;
    background-color: red;
    font-weight: 900;
    font-size: 20px;
    color: white;
    box-shadow: none;
    transition: .3s;
 }

 .favButton{
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    margin-left: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #5bee5d;
    color: black;
    font-weight: bold;
    box-shadow: -3px 3px #2b882ccd;
    cursor: pointer;
    transition: .2s; 
    &:hover{
        left: -2px;
    bottom: -2px;
    background-color: #6fddf1;
    color: black;
    box-shadow: none;
    transition: .3s;
    }
 }

